/* @mixin main-btn($color, $padding) {
  font-size: 18px;
  text-transform: uppercase;
  color: $color;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: $padding;
  border: none;
} */
