.map {
  background: #070716 url(../img/bg/map_bg.png) center center/contain no-repeat;
  padding: 40px 0;
  text-align: center;
  height: 720px;
  position: relative;
}
.map-subtitle {
  font-size: 17px;
  color: #fff;
}

.map-link {
  color: $main-color;
  font-size: 15px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  text-decoration: none;
}
